<ng-container [ngSwitch]="data.dialogType">

  <!-- platform審核被檢舉評論 -->
  <ng-container *ngSwitchCase="'reportReason'">
    <h1 mat-dialog-title>內容</h1>
    <div mat-dialog-content>
      <p>{{ data.reportReason }}</p>
    </div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>關閉</button>
    </div>
  </ng-container>

<!-- platformcomment 審核不通過確認dialog -->
  <ng-container *ngSwitchCase="'changeSatus'">
    <h1 mat-dialog-title>再次確認</h1>
    <div mat-dialog-content>
      <p>是否變更為不通過?</p>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancel()">否</button>
      <button mat-button color="primary" (click)="ChangeStatus()">是</button>
    </div>
  </ng-container >

<!-- 從comment檢舉 reportform -->
  <ng-container *ngSwitchCase="'reportcomfirm'">
    <h1 mat-dialog-title>再次確認</h1>
    <div mat-dialog-content>
      <p>是否送出表單?</p>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancel()">否</button>
      <button mat-button color="primary" (click)="onConfirm()">是</button>
    </div>
  </ng-container >

<!-- (新)platform審核被檢舉評論 -->
  <ng-container *ngSwitchCase="'reportedText'">
    <h1 mat-dialog-title>被舉報內容</h1>
    <div mat-dialog-content>
      <p><strong>Title:</strong> {{ reportReason.commentTitle }}</p>
      <p><strong>Text:</strong> {{ reportReason.commentText }}</p>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancel()">關閉</button>
    </div>
  </ng-container >

<!-- membercommentform送出後dialog -->
  <ng-container *ngSwitchCase="'confirmdialog'">
    <h1 mat-dialog-title>評論已送出</h1>
    <div mat-dialog-content>
      <p>您的評論已成功送出，感謝您的寶貴意見！</p>

    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancel()">否</button>
      <button mat-button color="primary" (click)="onConfirmDialog()">是</button>
    </div>
  </ng-container >






</ng-container>
