
    <!--tooltip-->
    <!--todo css的position確認一下-->

    <div class="height">
      <div class="rating-item"  id="tooltip">
          <div class="row m-2 ">
              <div class="col">
                  <div>
                      <span>舒適程度</span>
                      <span id="comfort-score-avg">10.0</span>
                      <div class="progress2 progress-moved">
                          <div class="progress-bar2">
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col">
                  <div>
                      <span>清潔程度</span>
                      <span id="clean-score-avg">10.0</span>
                      <div class="progress2 progress-moved">
                          <div class="progress-bar2">
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col">
                  <div>
                      <span>員工素質</span>
                      <span id="staff-score-avg">10.0</span>
                      <div class="progress2 progress-moved">
                          <div class="progress-bar2">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row m-2">
              <div class="col">
                  <div>
                      <span>設施</span>
                      <span id="facility-score-avg">10.0</span>
                      <div class="progress2 progress-moved">
                          <div class="progress-bar2">
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col">
                  <div>
                      <span>性價比</span>
                      <span id="cost–performance-avg">10.0</span>
                      <div class="progress2 progress-moved">
                          <div class="progress-bar2">
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col">
                  <div>
                      <span>住宿地點</span>
                      <span id="location-score-avg">10.0</span>
                      <div class="progress2 progress-moved">
                          <div class="progress-bar2">
                          </div>
                      </div>
                  </div>
              </div>

          </div>
          <div class="row m-2">
              <div class="col">
                  <div>
                      <span>免費WIFI</span>
                      <span id="frre-wifi-avg">10.0</span>
                      <div class="progress2 progress-moved">
                          <div class="progress-bar2">
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col"></div>
              <div class="col"></div>
          </div>
          <div>
              <div>評論概述</div>
              <div></div>
              <div></div>
          </div>

      </div>
  </div>




  <div class="container my-3 comment-bubble" >
      <div class="m-1 " id="tooltiptrigger">
          <div class="font-sty3">
              <!--評分-->
              <span>10.0</span>
              <span>超棒</span>
              <div class="font-sty2">1,145則評論</div>


          </div> <!--各項平均-->
          <div class="d-flex justify-content-start flex-wrap ">
              <div class="tag "><span>舒適程度 10.0</span></div>
              <div class="tag "><span>清潔程度 10.0</span></div>
              <div class="tag "><span>員工素質 10.0</span></div>
              <div class="tag "><span>設施 10.0</span></div>
              <div class="tag "><span>性價比 10.0</span></div>
              <div class="tag "><span>住宿地點 10.0</span></div>
              <div class="tag "><span>免費WIFI 10.0</span></div>
          </div>
      </div>
      <div>
          <!--留言標籤-->
          <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
              <div class="carousel-indicators indicatorsp">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
              </div>
              <div class="carousel-inner comment-sm-border comment-xs ">
                  <div class="carousel-item active">
                      <div>早班晚班的櫃檯都很親切的主動詢問及幫忙，房間很漂亮也很乾淨。</div>
                  </div>
                  <div class="carousel-item">
                      <div>早班晚班的櫃檯都很親切的主動詢問及幫忙，房間很漂亮也很乾淨。</div>
                  </div>
                  <div class="carousel-item">
                      <div>早班晚班的櫃檯都很親切的主動詢問及幫忙，房間很漂亮也很乾淨。</div>
                  </div>
                  <div class="carousel-item">
                      <div>早班晚班的櫃檯都很親切的主動詢問及幫忙，房間很漂亮也很乾淨。</div>
                  </div>
                  <div class="carousel-item">
                      <div>早班晚班的櫃檯都很親切的主動詢問及幫忙，房間很漂亮也很乾淨。</div>
                  </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
              </button>
          </div>


      </div>
  </div>
  <!--飯店評論-->
  <div class="container mt-5">
      <div>
          <h4 class="mb-3 font-sty">雀客旅館台中中山 住客評論</h4>
          <span class="comment-cube">10.0</span>
          <span>超棒</span>
          <span>1,145則評論</span>
      </div>
      <hr />
      <!--評分條-->
      <div>
          <div class="container ">
              <h6 class="m-2 p-3">各項目評分：</h6>

              <div class="row m-2 ">
                  <div class="col">
                      <div>
                          <span>舒適程度</span>
                          <span id="comfort-score-avg">10.0</span>
                          <div class="progress2 progress-moved">
                              <div class="progress-bar2">
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col">
                      <div>
                          <span>清潔程度</span>
                          <span id="clean-score-avg">10.0</span>
                          <div class="progress2 progress-moved">
                              <div class="progress-bar2">
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col">
                      <div>
                          <span>員工素質</span>
                          <span id="staff-score-avg">10.0</span>
                          <div class="progress2 progress-moved">
                              <div class="progress-bar2">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row m-2">
                  <div class="col">
                      <div>
                          <span>設施</span>
                          <span id="facility-score-avg">10.0</span>
                          <div class="progress2 progress-moved">
                              <div class="progress-bar2">
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col">
                      <div>
                          <span>性價比</span>
                          <span id="cost–performance-avg">10.0</span>
                          <div class="progress2 progress-moved">
                              <div class="progress-bar2">
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col">
                      <div>
                          <span>住宿地點</span>
                          <span id="location-score-avg">10.0</span>
                          <div class="progress2 progress-moved">
                              <div class="progress-bar2">
                              </div>
                          </div>
                      </div>
                  </div>

              </div>
              <div class="row m-2">
                  <div class="col">
                      <div>
                          <span>免費WIFI</span>
                          <span id="frre-wifi-avg">10.0</span>
                          <div class="progress2 progress-moved">
                              <div class="progress-bar2">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col"></div>
                  <div class="col"></div>
              </div>
          </div>
      </div>
  </div>

  <!--篩選列-->
  <br class="mt-5" />



  <!--Carousel test-->
  <div id="carouselExampleControls" class="carousel carousel-dark slide container my-3" data-bs-ride="carousel">
      <div class="carousel-inner comment-sm">
          <div class="carousel-item active ">
              <div class="d-flex flex-row  ">
                  <div class="container slide-border mx-2">
                      <div><i class="fa-solid fa-user"></i> WANTING</div>
                      <div class="my-2">早班晚班的櫃檯都很親切的主動詢問及幫忙，房間很漂亮也很乾淨。</div>
                  </div>
                  <div class="container slide-border mx-2">
                      <div><i class="fa-solid fa-user"></i> WANTING</div>
                      <div class="my-2">早班晚班的櫃檯都很親切的主動詢問及幫忙，房間很漂亮也很乾淨。</div>
                  </div>
                  <div class="container slide-border mx-2">
                      <div><i class="fa-solid fa-user"></i> WANTING</div>
                      <div class="my-2">早班晚班的櫃檯都很親切的主動詢問及幫忙，房間很漂亮也很乾淨。</div>
                  </div>
              </div>
          </div>
          <div class="carousel-item">
              <div class="d-flex flex-row">
                  <div class="container slide-border mx-2">
                      <div><i class="fa-solid fa-user"></i> WANTING</div>
                      <div class="my-2">早班晚班的櫃檯都很親切的主動詢問及幫忙，房間很漂亮也很乾淨。</div>
                  </div>
                  <div class="container slide-border mx-2">
                      <div><i class="fa-solid fa-user"></i> WANTING</div>
                      <div class="my-2">早班晚班的櫃檯都很親切的主動詢問及幫忙，房間很漂亮也很乾淨。</div>
                  </div>
                  <div class="container slide-border mx-2">
                      <div><i class="fa-solid fa-user"></i> WANTING</div>
                      <div class="my-2">早班晚班的櫃檯都很親切的主動詢問及幫忙，房間很漂亮也很乾淨。</div>
                  </div>
              </div>
          </div>
          <div class="carousel-item">
              <div class="d-flex flex-row">
                  <div class="container slide-border mx-2">
                      <div><i class="fa-solid fa-user"></i> WANTING</div>
                      <div class="my-2">早班晚班的櫃檯都很親切的主動詢問及幫忙，房間很漂亮也很乾淨。</div>
                  </div>
                  <div class="container slide-border mx-2">
                      <div><i class="fa-solid fa-user"></i> WANTING</div>
                      <div class="my-2">早班晚班的櫃檯都很親切的主動詢問及幫忙，房間很漂亮也很乾淨。</div>
                  </div>
                  <div class="container slide-border mx-2">
                      <div><i class="fa-solid fa-user"></i> WANTING</div>
                      <div class="my-2">早班晚班的櫃檯都很親切的主動詢問及幫忙，房間很漂亮也很乾淨。</div>
                  </div>
              </div>
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
  </div>


  <div class="container">
      <a  routerLink="/comment_list/" class="btn btn-outline-primary" id="searchBtn">查看所有評論</a>
  </div>





