




  <!--飯店評論-->
  <div class="  mt-5 d-flex flex-row">
      <div class="flex-grow-1 ps-5 pe-3">
          <h4 class="mb-3 font-sty">住客評論</h4>
          <span class="comment-cube">{{totalAverageScore | number:'1.1-1'}}</span>
          <span> {{ratingText}} </span>
          <div class="mt-3"> 共 {{totalCommentcounts}}則評論</div>
      </div>
      <hr />
      <!--評分條-->
      <div class="  flex-grow-2  ms-5 ps-5">
          <div class=" ">
              <div class="row m-2 " *ngFor="let score of averageScores">
                  <div class="col">
                      <div>
                          <span>{{score.key}}</span>
                          <span id="comfort-score-avg"> {{score.value.toFixed(1)}}</span>
                          <div class="progress2 progress-moved">
                              <div class="progress-bar2" [style.width.%]="score.value * 10">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!--篩選列-->
  <br class="mt-5" />

  <div class="">
      <a  routerLink="/hotel_comment" class="btn btn-outline-primary" id="searchBtn">查看所有評論</a>
  </div>

  <div class="row d-flex justify-content-center " #commentContainer *ngFor="let chunk of combinedData | chunk: 3">
    <div class="col-lg-3 " *ngFor="let data of chunk">
      <div>
        <div class="card-body p-2">
          <div class="card mb-2" style="background-color: #f0f2f5;">
            <div class="card-body">
              <p>{{ truncateText(data.commentText, 24) }}</p>
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                  <fa-icon [icon]="fauserlarge"></fa-icon>
                  <p class="small mb-0 ms-2">{{ data.firstName }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
