
<mat-tab-group>
  <mat-tab label="尚未評論">
    <div class="d-flex justify-content-center swing-in-left-bck" *ngFor="let comment of pendingComments">
      <div class="card my-3 width">
        <div class="row g-0">
          <div class="col-md-4">
            <img [src]="comment.hotelImageUrl" class="img-fluid rounded-start" alt="Hotel Image">
          </div>
          <div class="col-md-8">
            <div class="container">
              <div class="left card-body">
                <h5 class="card-title">{{ comment.hotelName }}</h5>
                <p><i class="fa-solid fa-location-dot">{{ comment.hotelAddress }}</i></p>
                <div class="d-inline-flex p-2 bd-highlight"><i class="fa-solid fa-bed">{{ comment.roomTypeName }}</i></div>
                <div class="d-flex p-2 align-items-end justify-content-between">
                  <i class="fa-solid fa-calendar-days">入住日期：({{ comment.nights }}晚) {{ comment.checkInDate | date:'yyyy.MM.dd' }} - {{ comment.checkOutDate | date:'yyyy.MM.dd' }}</i>
                </div>
              </div>
              <div class="right d-flex align-items-center">
                <a class="btn btn-outline-primary" (click)="startReview(comment.commentId, comment.hotelName, comment.roomTypeName, comment.checkInDate, comment.checkOutDate, comment.roomId)">開始評論</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="未完成評論">
    <div class="d-flex justify-content-center swing-in-left-bck" *ngFor="let comment of unfinishedComments">
      <div class="card my-3 width">
        <div class="row g-0">
          <div class="col-md-4">
            <img [src]="comment.hotelImageUrl" class="img-fluid rounded-start" alt="Hotel Image">
          </div>
          <div class="col-md-8">
            <div class="container">
              <div class="left card-body">
                <h5 class="card-title">{{ comment.hotelName }}</h5>
                <p><i class="fa-solid fa-location-dot">{{ comment.hotelAddress }}</i></p>
                <div class="d-inline-flex p-2 bd-highlight"><i class="fa-solid fa-bed">{{ comment.roomTypeName }}</i></div>
                <div class="d-flex p-2 align-items-end justify-content-between">
                  <i class="fa-solid fa-calendar-days">入住日期：({{ comment.nights }}晚) {{ comment.checkInDate | date:'yyyy.MM.dd' }} - {{ comment.checkOutDate | date:'yyyy.MM.dd' }}</i>
                </div>
              </div>
              <div class="right d-flex align-items-center">
                <a  class="btn btn-outline-primary"   (click)="startReview(comment.commentId, comment.hotelName, comment.roomTypeName, comment.checkInDate, comment.checkOutDate,comment.roomId)">開始評論</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="已完成評論">
    <div class="d-flex justify-content-center swing-in-left-bck" *ngFor="let comment of completedComments">
      <div class="card my-3 width">
        <div class="row g-0">
          <div class="col-md-4">
            <img [src]="comment.hotelImageUrl" class="img-fluid rounded-start" alt="Hotel Image">
          </div>
          <div class="col-md-8">
            <div class="container">
              <div class="left card-body">
                <h5 class="card-title">{{ comment.hotelName }}</h5>
                <p><i class="fa-solid fa-location-dot">{{ comment.hotelAddress }}</i></p>
                <div class="d-inline-flex p-2 bd-highlight"><i class="fa-solid fa-bed">{{ comment.roomTypeName }}</i></div>
                <div class="d-flex p-2 align-items-end justify-content-between">
                  <i class="fa-solid fa-calendar-days">入住日期：({{ comment.nights }}晚) {{ comment.checkInDate | date:'yyyy.MM.dd' }} - {{ comment.checkOutDate | date:'yyyy.MM.dd' }}</i>
                </div>
              </div>
              <div class="right d-flex align-items-center">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>




