<!-- 背景 -->
<div class="bouncing-blobs-container">
  <div class="bouncing-blobs-glass"></div>
  <div class="bouncing-blobs">
    <div class="bouncing-blob bouncing-blob--blue"></div>
    <div class="bouncing-blob bouncing-blob--blue"></div>
    <div class="bouncing-blob bouncing-blob--blue"></div>
    <div class="bouncing-blob bouncing-blob--white"></div>
    <div class="bouncing-blob bouncing-blob--purple"></div>
    <div class="bouncing-blob bouncing-blob--purple"></div>
    <div class="bouncing-blob bouncing-blob--pink"></div>
  </div>
</div>
<div class="hero">

  <div class="tutorial-link">

  </div>
</div>





<div class="container-fluid container-adj ">
  <div class="row ">
    <div class="col-md-6">
      <!-- 左下角的容器 -->
       <a href=""></a>
      <button mat-raised-button class="m-3" routerLink="/membercomment" >返回</button>
      <div class="container mt-5 fixed-container ">
        <div class="">
          <div class="text-blur-out 2 mt-4">
            <h3 class="card-title">{{hotelName}}</h3>
            <div class="d-inline-flex p-2 bd-highlight"><i class="fa-solid fa-bed"> {{roomtypeName}}</i></div>
            <div class="d-flex p-2 align-items-end justify-content-between"><i class="fa-solid fa-calendar-days">
                {{checkinDate | date:'yyyy.MM.dd' }} - {{checkoutDate | date:'yyyy.MM.dd'}}</i></div>
          </div>
          <div>
            <!-- <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
            </mat-progress-spinner> -->
          </div>
          <!--進度條
                  <div class="progress" style="height: 1px;">
                      <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>-->

        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <!-- 右下角的容器 -->
      <div class="container text-center mt-5 my-5 ">
        <div *ngIf="displayedFieldsCount === 0">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body text-center mt-3">
                <fa-icon class="animatetime iconcolorred" [icon]="faHeart" animation="bounce" size="2xl"></fa-icon>
                <p class="mt-2">請花3分鐘與其他人分享您的住宿體驗！</p>
                <button type="button" class="btn btn-primary" (click)="startReview()">
                  開始評論
                </button>
              </div>
            </div>
          </div>
        </div>


        <div>
          <form (ngSubmit)="onSubmit()" *ngIf="displayedFieldsCount > 0">
            <div *ngFor="let field of fields; let i = index"  >
              <div *ngIf="i < displayedFieldsCount" class="modal-dialog"  >
                <div class="modal-content">
                  <div class="modal-body text-center mt-5">
                    <fa-icon *ngIf="field.icon" class="animatetime iconcolor" [icon]="field.icon" animation="bounce"
                      size="2xl"></fa-icon>
                    <p class="mt-3 commentitem">{{ field.label }}</p>
                    <mat-slider *ngIf="field.controlName === 'comfortScore'" min="0" max="10" step="1" showTickMarks
                      discrete [displayWith]="formatLabel" [(ngModel)]="comfortScore" name="comfortScore"
                      (input)="onSliderChange(field.controlName)">
                      <input matSliderThumb>
                    </mat-slider>
                    <mat-slider *ngIf="field.controlName === 'cleanlinessScore'" min="0" max="10" step="1" showTickMarks
                      discrete [displayWith]="formatLabel" [(ngModel)]="cleanlinessScore" name="cleanlinessScore"
                      (input)="onSliderChange(field.controlName)">
                      <input matSliderThumb>
                    </mat-slider>
                    <mat-slider *ngIf="field.controlName === 'staffScore'" min="0" max="10" step="1" showTickMarks
                      discrete [displayWith]="formatLabel" [(ngModel)]="staffScore" name="staffScore"
                      (input)="onSliderChange(field.controlName)">
                      <input matSliderThumb>
                    </mat-slider>
                    <mat-slider *ngIf="field.controlName === 'facilitiesScore'" min="0" max="10" step="1" showTickMarks
                      discrete [displayWith]="formatLabel" [(ngModel)]="facilitiesScore" name="facilitiesScore"
                      (input)="onSliderChange(field.controlName)">
                      <input matSliderThumb>
                    </mat-slider>
                    <mat-slider *ngIf="field.controlName === 'valueScore'" min="0" max="10" step="1" showTickMarks
                      discrete [displayWith]="formatLabel" [(ngModel)]="valueScore" name="valueScore"
                      (input)="onSliderChange(field.controlName)">
                      <input matSliderThumb>
                    </mat-slider>
                    <mat-slider *ngIf="field.controlName === 'locationScore'" min="0" max="10" step="1" showTickMarks
                      discrete [displayWith]="formatLabel" [(ngModel)]="locationScore" name="locationScore"
                      (input)="onSliderChange(field.controlName)">
                      <input matSliderThumb>
                    </mat-slider>
                    <mat-slider *ngIf="field.controlName === 'freeWifiScore'" min="0" max="10" step="1" showTickMarks
                      discrete [displayWith]="formatLabel" [(ngModel)]="freeWifiScore" name="freeWifiScore"
                      (input)="onSliderChange(field.controlName)">
                      <input matSliderThumb>
                    </mat-slider>
                    <fieldset *ngIf="field.controlName === 'travelerType'" class="p-2">
                      <legend class="w-auto font-size mb-2">旅客類型</legend>
                      <select class="form-select" [(ngModel)]="travelerType" name="travelerType"
                        aria-label="Default select example">
                        <option value="1">單人旅遊</option>
                        <option value="2">情侶/夫妻</option>
                        <option value="3">商務旅客</option>
                        <option value="4">家庭(嬰幼兒隨行)</option>
                        <option value="5">家庭(未成年孩童隨行)</option>
                        <option value="6">團體(2人以上)</option>
                      </select>
                      <div>
                        <input type="text" class="form-control" [(ngModel)]="commentTitle" name="commentTitle"
                          id="commentInput" placeholder="評論標題">
                      </div>
                      <div>
                        <textarea class="form-control mt-2" [(ngModel)]="commentText" name="commentText"
                          id="commentTextarea" rows="3" style="resize: none;height:150px;"
                          placeholder="評論內容"></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary mt-3">
                        提交
                      </button>
                    </fieldset>

                  </div>
                </div>
              </div>

            </div>
