<button mat-raised-button class="ms-2 mt-2" (click)="navigateToPgHotel()">返回</button>

<!--飯店評論-->
<div class="container mt-5">
  <!-- 飯店名稱及總分 -->
  <div>
    <h4 class="mb-3 font-sty">{{hotelName}} 住客評論</h4>
    <span class="comment-cube">{{totalAverageScore | number:'1.1-1'}}  </span>
    <span class="avgtext ms-2">{{ratingText}}</span>
    <div class="mt-2">共{{totalItems}}則評論</div>

  </div>
  <hr />
<!--
    各項目評分 -->
    <div>
      <div class="container">
        <h6 class="m-2 p-3">各項目評分：</h6>
        <div class="row m-2">
          <div class="col-4" *ngFor="let score of averageScores">
            <div>
              <span>{{score.key}}</span>
              <span id="comfort-score-avg"> {{score.value.toFixed(1)}}</span>
              <div class="progress2 progress-moved">
                <div class="progress-bar2" [style.width.%]="score.value * 10"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

   <!-- 篩選條件 -->
   <hr class="mt-5" />
   <h5 class="font-sty">篩選條件</h5>
   <div class="container">
     <div class="row">
       <!-- 評分篩選 -->
       <div class="col">
         <label><span>評分</span></label>
         <div>
          <select class="form-select" aria-label="filter-rate" [(ngModel)]="ratingFilter" (ngModelChange)="filterByRating($event)">
            <option [ngValue]="null" selected>全部({{ totalItems }})</option>
            <option *ngFor="let range of ratingRanges" [ngValue]="range.key">{{range.label}} ({{rateCounts.get(range.key)}})</option>
          </select>
         </div>
       </div>
       <!-- 住宿期間篩選 -->
       <div class="col">
         <label><span>住宿期間</span></label>
         <div>
           <select class="form-select" aria-label="filter-during"  [(ngModel)]="dateFilter" (ngModelChange)="filterByDate($event)">
             <option [ngValue]="null" selected>全部 ({{ totalItems }})</option>
             <option *ngFor="let range of monthRanges" [ngValue]="range.key">{{range.label}} ({{monthCounts.get(range.key)}})</option>
           </select>
         </div>
       </div>
       <!-- 排序依據篩選 -->
       <div class="col">
         <label><span>排序依據</span></label>
         <div>
           <select class="form-select" aria-label="filter-sort" (change)="sortBy($event)">
             <option value="newest" selected>最新</option>
             <option value="oldest">最舊</option>
             <option value="highestScore">分數最高</option>
             <option value="lowestScore">分數最低</option>
           </select>
         </div>
       </div>
     </div>
   </div>

  <!-- 主題篩選 -->
  <h5 class="font-sty mt-5">選擇主題以瀏覽相關評語</h5>
<div class="mt-3">
  <label data-testid="topic-filter-component" *ngFor="let topic of ['客房', '地點', '床', '廁所', '安靜', '晚餐', '小孩', '停車']">
    <button type="button" class="btn" [ngClass]="{'btn-outline-primary': selectedTopics.indexOf(topic) === -1, 'btn-primary': selectedTopics.indexOf(topic) !== -1}" (click)="filterByTopic(topic)">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"></path>
      </svg>
      {{topic}}
    </button>
  </label>
  <label data-testid="topic-filter-component" (click)="toggleSearch()">
    <button type="button" class="btn btn-outline-primary" id="searchBtnpic">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
      </svg>
    </button>
  </label>
  <div class="d-flex gap-4 justify-content-end mt-3">
    <span>
      <input *ngIf="isSearchVisible" type="text" class="form-control" id="searchBar" [(ngModel)]="search" (input)="applyFilters()" aria-label="">
    </span>
    <input *ngIf="isSearchVisible" type="button" class="btn btn-outline-primary" id="searchBtn" value="搜尋" (click)="applyFilters()">
  </div>
</div>






<!-- 分頁導航 -->
<nav aria-label="Page navigation example">
  <ul class="pagination container d-flex justify-content-center">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" href="#" aria-label="Previous" (click)="setPage(currentPage - 1)">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <ng-container *ngFor="let page of getPageNumbers()">
      <li class="page-item" [class.active]="page === currentPage">
        <a class="page-link" href="#" (click)="setPage(page)">{{page}}</a>
      </li>
    </ng-container>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" href="#" aria-label="Next" (click)="setPage(currentPage + 1)">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>


<!-- 評論bar(後面要加一個<hr />) -->

<div class="container" *ngFor="let comment of combinedData">

  <div class="row">
      <div class="col-4 p-2 ">
          <div class="py-2">
              <span class="commentList-left-score me-2">{{comment.avgScoresPerCom.totalAverageScore.toFixed(1)}}</span>
          </div>
          <div class="fw-bold comment-left-fontsty"><i class="fa-solid fa-user "></i>  {{comment.firstName}} </div>
          <div><i class="fa-solid fa-suitcase fa-sm"></i> 入住日期：{{ comment.createdAt | date:'yyyy.MM ' }}</div>
          <div><i class="fa-solid fa-bed fa-sm"></i> {{ comment.roomTypeName }}</div>
          <div><i class="fa-solid fa-people-group fa-sm"></i> {{ comment.travelerType }}</div>
      </div>
      <div class="col-8 commentList-right mt-3 p-4 px-5">
          <div class="fw-bold fs-5">{{ comment.commentTitle }}</div>
          <div class="my-2">{{ comment.commentText }}</div>
          <div class="d-flex justify-content-between">
              <div class="comment-font-color">評論日期：{{ comment.createdAt | date:'yyyy.MM.dd ' }}</div>
              <div class="comment-font-color text-end">
                <button mat-button (click)="report(comment)" color="primary" >檢舉</button>
              </div>
          </div>
      </div>
  </div>
  <hr class="" />
</div>



<!-- 分頁導航 -->
<nav aria-label="Page navigation example">
  <ul class="pagination container d-flex justify-content-center">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" href="#" aria-label="Previous" (click)="setPage(currentPage - 1)">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <ng-container *ngFor="let page of getPageNumbers()">
      <li class="page-item" [class.active]="page === currentPage">
        <a class="page-link" href="#" (click)="setPage(page)">{{page}}</a>
      </li>
    </ng-container>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" href="#" aria-label="Next" (click)="setPage(currentPage + 1)">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

